# Python
*.py[cod]

# C extensions
*.so
var
sdist
lib
lib64

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Eclipse
.project
.pydevproject
.pyproject
.settings
.metadata

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Emacs
*~

# Intellij
.idea/
DIRAC.iml

# MaxOSX files
.DS_Store

# test stuff
.pytest_cache
.cache
cache.db
__pycache__
pytests.xml
nosetests.xml
coverage.xml
Local_*
.hypothesis
virtualmachine/.vagrant/

integration_test_results/
tests/CI/CLIENTCONFIG
tests/CI/SERVERCONFIG
src/etc/

pilot.cfg
DIRAC_containers
docs/source/dirac.cfg
# VSCode
.vscode
.env

# docs
# this is auto generated
docs/source/CodeDocumentation/
docs/source/AdministratorGuide/Configuration/ExampleConfig.rst
docs/source/AdministratorGuide/CommandReference
docs/source/UserGuide/CommandReference
docs/_build
docs/source/_build

# pixi environments
.pixi
*.egg-info
pixi.lock
