*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Eclipse
.project
.pydevproject
.pyproject
.settings
.metadata

# Vim 
.*.sw[a-z]
*.un~
Session.vim

# Python
.pyo
