# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.9

exclude: |
    (?x)^(
        src/DIRAC/Interfaces/API/test/test.*\.jdl
    )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: |
          (?x)^(
              src/DIRAC/Resources/Computing/BatchSystems/[^/]+.py|
              src/DIRAC/WorkloadManagementSystem/Utilities/PilotWrapper.py|
              tests/Integration/WorkloadManagementSystem/Test_GenerateAndExecutePilotWrapper.py
          )$

  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black
        name: black for files with Python 2.7 compatibility
        additional_dependencies: [".[python2]", "click==8.0.4"]
        args: ["--target-version=py27"]
        files: |
          (?x)^(
              src/DIRAC/Resources/Computing/BatchSystems/[^/]+.py|
              src/DIRAC/WorkloadManagementSystem/Utilities/PilotWrapper.py|
              tests/Integration/WorkloadManagementSystem/Test_GenerateAndExecutePilotWrapper.py
          )$
