language: python
addons:
  apt:
    packages:
    - swig
    - libssl-dev
    - libssl1.0.0
    - python-setuptools
    - python-twisted
python:
  - "2.7"

env:
  matrix:
    - CHECK=py.test
    - CHECK=docs
    - CHECK=pylint


# command to install dependencies
install: 
  - "pip install --upgrade setuptools"
  - "pip install --upgrade pip"
  - "pip install -r requirements.txt"
# command to run tests
script:
  - export PYTHONPATH=${PWD%/*}
  - ls $PYTHONPATH
  - if [[ "${CHECK}" == "py.test"  ]];
    then py.test;
    elif [[ "${CHECK}" == "docs"  ]];
    then cd docs; READTHEDOCS=True make html;
    elif [[ "${CHECK}" == "pylint"  ]];
    then travis_wait 30 .travis.d/runPylint.sh;
    fi

## ignore errors for sourcefiles "-i"
after_success:
  - if [[ "${CHECK}" == "py.test"  ]];
    then coveralls -i;
    fi
