GSI>=0.6.4
certifi
coverage>=4.0.3
elasticsearch-dsl>=2.0.0
funcsigs
futures
GitPython>=2.1.0
matplotlib>=1.5.0
mock>=1.0.1
MySQL-python>=1.2.5
jinja2
ipython
numpy>=1.10.1
pexpect>=4.0.1
psutil>=4.2.0
Pygments>=1.5
pylint>=1.4.4
pyparsing>=2.0.6
pytest>=2.8.5
pytest-cov>=2.2.0
python-coveralls
pytz>=2015.7
readline>=6.2.4
requests>=2.9.1
rst2pdf>=0.93
simplejson>=3.8.1
six
sqlalchemy>=1.0.9
stomp.py>=3.1.5
suds-jurko>=0.6
