# From repo
fts3-rest

#Patch for tornado
git+https://github.com/DIRACGrid/tornado.git@iostreamConfigurable
git+https://github.com/DIRACGrid/tornado_m2crypto.git

# From pypi
boto3
#asn1
M2Crypto>=0.36
autopep8==1.3.3
cachetools<4
certifi
coverage
docutils
diraccfg
elasticsearch-dsl~=6.3.1
CMRESHandler>=1.0.0b4
funcsigs
future
futures>=3.0.5
GitPython>=2.1.0
# newer versions of matplotlib require python 3
matplotlib>=2.1.0,<3.0
mock>=1.0.1
MySQL-python>=1.2.5
importlib_resources
jinja2
ipython==5.3.0
numpy>=1.10.1
pexpect>=4.0.1
pillow
psutil>=4.2.0
pyasn1>0.4.1
pyasn1_modules
Pygments>=1.5
parameterized
pylint>=1.6.5
pyparsing>=2.0.6
pytest>=3.6
pytest-cov>=2.2.0
pytest-mock
pytz
readline>=6.2.4
recommonmark
requests>=2.9.1
rucio-clients >=1.25.6
simplejson>=3.8.1
six>=1.10
# Freeze until all problems with 1.4 are solved
sqlalchemy==1.3.*
xmltodict
# more recent version are python 3 only
stomp.py==4.1.23
suds-jurko>=0.6
sphinx
# typing comes in via m2crypto. newer versions of typing caused an error in hypothesis
typing==3.6.6
hypothesis
python-json-logger>=0.1.8
multi-mechanize>=1.2.0
caniusepython3
subprocess32
flaky
ldap3
# setuptools_scm comes via tornado. newer versions of setuptools_scm do not support py2
setuptools_scm<6.0
