Services
{
  ResourceStatus
  {
    Port = 9160
    Authorization
    {
      Default = SiteManager
      select = all
    }
  }
  ResourceManagement
  {
    Port = 9172
    Authorization
    {
      Default = SiteManager
      select = all
    }
  }
  Publisher
  {
    Port = 9165
    Authorization
    {
      Default = Authenticated
    }
  }
}
Agents
{
  ##BEGIN SummarizeLogsAgent
  SummarizeLogsAgent
  {
    #Time between cycles in seconds
    PollingTime = 300
    #Months of history to keep
    Months = 36
  }
  ##END
  ##BEGIN ElementInspectorAgent
  ElementInspectorAgent
  {
    #Time between cycles in seconds
    PollingTime = 300

    #Maximum number of threads used by the agent
    maxNumberOfThreads = 15

    #Type of element that this agent will run on (Resource or Site)
    elementType = Resource
  }
  ##END
  ##BEGIN RucioRSSAgent
  RucioRSSAgent
  {
    #Time between cycles in seconds
    PollingTime = 120
  }
  ##END
  ##BEGIN SiteInspectorAgent
  SiteInspectorAgent
  {
    #Time between cycles in seconds
    PollingTime = 300

    #Maximum number of threads used by the agent
    maxNumberOfThreads = 15
  }
  ##END
  ##BEGIN CacheFeederAgent
  CacheFeederAgent
  {
    #Time between cycles in seconds
    PollingTime = 900

    # Shifter to use by the commands invoked
    shifterProxy = DataManager
  }
  ##END
  ##BEGIN TokenAgent
  TokenAgent
  {
    #Time between cycles in seconds
    PollingTime = 3600

    #hours to notify the owner of the token in advance to the token expiration
    notifyHours = 12

    # admin e-mail to where to notify about expiring tokens (on top of existing notifications to tokwn owners)
    adminMail =
  }
  ##END
  ##BEGIN EmailAgent
  EmailAgent
  {
    #Time between cycles in seconds
    PollingTime = 1800
  }
  ##END
}
