Services
{
  DataStore
  {
    Port = 9133
    Authorization
    {
      Default = authenticated
      compactDB = ServiceAdministrator
      deleteType = ServiceAdministrator
      registerType = ServiceAdministrator
      setBucketsLength = ServiceAdministrator
      regenerateBuckets = ServiceAdministrator
    }
  }
  ReportGenerator
  {
    Port = 9134
    Authorization
    {
      Default = authenticated
      FileTransfer
      {
        Default = authenticated
      }
    }
  }
}
Agents
{
  ##BEGIN NetworkAgent
  NetworkAgent
  {
    MaxCycles = 0
    PollingTime = 60
    # URI of the MQ of the perfSONAR information
    MessageQueueURI =
    # time how long objects are kept in the buffer if they cannot be written to the DB
    BufferTimeout = 3600
  }
  ##END
}

