Services
{
  ##BEGIN Monitoring
  Monitoring
  {
    Port = 9137
    Authorization
    {
    Default = authenticated
      FileTransfer
      {
        Default = authenticated
      }
    }
    MonitoringTypes
    {
      ComponentMonitoring
      {
        # Indexing strategy. Possible values: day, week, month, year, null
        Period = month
      }
      RMSMonitoring
      {
        # Indexing strategy. Possible values: day, week, month, year, null
        Period = month
      }
      WMSHistory
      {
        # Indexing strategy. Possible values: day, week, month, year, null
        Period = day
      }
    }
  }
  ##END
}