@import url( "nature.css" );
/*@import url( "pyramid.css" );*/


body {
  font-family: "Nobile", sans-serif;
  font-size: 1.1em;
}

div.related {
  font-weight: bold;
  background-color: #78B219;
}

table.docutils td, table.docutils th {
    border-color: -moz-use-text-color -moz-use-text-color #AAAAAA;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding: 5px 10px 5px 10px;
}
