# cannot use DIRAC requirements because of inability to install pycurl (from FTS dependency) on RTD
#-r https://raw.githubusercontent.com/DIRACGrid/DIRAC/integration/requirements.txt
#-e git+https://github.com/DIRACGrid/DIRAC/@integration#egg=diracdoctools&subdirectory=docs
M2Crypto>=0.36
Sphinx>=1.8.0
docutils>=0.15
boto3
elasticsearch_dsl
future
futures
matplotlib
mock
mysql-python
numpy
pandas
psutil
pyasn1>0.4.1
pyasn1_modules
pyparsing
pytz
recommonmark
sqlalchemy
subprocess32
suds
