# cannot use DIRAC requirements because of inability to install pycurl (from FTS dependency) on RTD
#-r https://raw.githubusercontent.com/DIRACGrid/DIRAC/integration/requirements.txt
-e git+https://github.com/DIRACGrid/DIRAC/@integration#egg=diracdoctools&subdirectory=docs
M2Crypto==0.32
Sphinx>=1.8.0
elasticsearch_dsl
future
futures
matplotlib
mock
mysqlclient  # replacing mysql-python
psutil
pyasn1>0.4.1
pyasn1_modules
pyparsing
pytz
recommonmark
sqlalchemy
subprocess32
suds-community  # replacing suds-jurko
