# cannot use DIRAC requirements because of inability to install pycurl (from FTS dependency) on RTD
#-r https://raw.githubusercontent.com/DIRACGrid/DIRAC/integration/requirements.txt
#-e git+https://github.com/DIRACGrid/DIRAC/@integration#egg=diracdoctools&subdirectory=docs
M2Crypto>=0.36
Sphinx>=1.8.0
docutils>=0.15
boto3
diraccfg
elasticsearch_dsl
future
futures
matplotlib
mock
numpy
pandas
psutil
pyasn1>0.4.1
pyasn1_modules
pyparsing
pytz
recommonmark
sqlalchemy
subprocess32
suds
# This is a fork of tornado with a patch to allow for configurable iostream
git+https://github.com/DIRACGrid/tornado.git@iostreamConfigurable
# This is an extension of Tornado to use M2Crypto
git+https://github.com/DIRACGrid/tornado_m2crypto
