#cloud-config

disable_ec2_metadata: true
timezone: UTC

fs_setup:
 - filesystem: ext4
   device: ephemeral0
   partition: none
   overwrite: true

write_files:
 - encoding: gz+b64
   path: /etc/pki/rpm-gpg/RPM-GPG-KEY-CernVM
   content: |
      H4sIABpPZl0CA32Vya6z1haE5zzFGd4r9Idm00bKgN4bMH0/A4xpDAYb0z59zkmi3NldUk2qarSk
      T/Xr1/eJigatL0dzvpxQNKH0ZSjpl2jakvGT/kKi6j234/P3L+25ONrXSv6G/0aSX//RrBAz2+ey
      /xdBBldrRWXRHCb1REGOOL4sVGoZlYTjXW7Z7UcP5UhvbF1QjQwA07+dlxW0dvHsRnqjkK0oOLX1
      2zc1xnX+FsqRWvCHRxxGd9EBGCOR3AfHPmNgxeMFsrmjsh+pHlk15RtrlBDKUh7WUa7F3R8lv5xX
      8kjp10m+yDklzFjLtCJMOnE1ikHwK37WVUOPWGseNqlmmRhD8mt+9tXlkD/jKHOfB8jidTJKGfNq
      mrDzG5qZJdtQ9CZfL1Mur7ZYaeMxoQ9Wr90bxyKXe9LqnxpzmfMItncEVsldr9MGNK/zHplYOrUX
      F8w7fDDczeTuOVkGewP9hMZk6J4lMgyLnONKLWmaYIQZVVxeebWr6nPCRDQyRGfVl93M8VKUb0xV
      bbu1fS46jyv5tRJP7YYwZ0h+f9/m0yJplevLe9wj87msMq0BAov1bL3fE2mfp6d/r3kSyAU045xa
      rZi/mtfZQGB0WY/ojQ+Zyu23w7UiJ0wARi15Y1ypZlvU1604usXUFKiCkAU51HE0lasJQyFzhIiu
      XZ77wSk7mhMJbHSi8SGLjnnv3z7ohk0KQMmre4R3X3b8JBKA6aIuGR1Fn1lQUR9IEfdLnlh4Oah4
      AWBtaBZZxOrjxzd8gUt/ys/sYw5/e//r6sJPhhQt3eUyA5PaDRQXCpcaFsKWmpJbX4QNyqoLZWFP
      JcGF1beSWgilaLPTRy0Ykid0iBy0t3bxShpXCEHnhXS9YOVxk1mc5LtdK2fO4Nh+BJ0g3ZSmkDpQ
      ds48kSEW36faIBDRta/tVtFCjSs+lWIvUYCCCebYSFxjKqA9bQk6WAkJIzLZLfEKjLRLbaVtGabl
      8wlxRiAKgM/5eODXhnik8BI8Gt59FdxGg6akBOsRBWiZnntyfBpN7OLR/GzSaUjOGxYs4rm6V/I0
      Y3/wF/Ua+jJUtJY+q7sPRz3z6O7w2Hfmo4Rj6SnE6T0lUSVviIUP93d/isiFlqV5DV+BZRBk/HZg
      WwzmyC3oAWW92+qGt+kUBhJafbCaYi3znt1aQXNMpVt11WsRVl9Q7thsQN78SHR0V3583rQo8TQu
      G9lF4J/orDOgVUHvYLkUKNK07+EriaJXO47FhtT08ekZvNl4yM/3TXSYk3c8HvfKIyB6qm5b8eTN
      CDWmUhC2EApGJezCW8v1/YzP1kBmVuaCYFFo3NpQH3haE52bbxwswYGMIFr7m49iILFzmxh6Ux/P
      j2QMpiE/tTmoVWtC5g881E0fOkAJ+8RawNBeyTOAqA/dGxMNp0tMzX6X7I2D2lLZHpNC1ie0NP6w
      8jhXSGaclBLf1kSyH67QFPsLuwRkCdpmn5f9rbz3k3U/Vp7aatIuZgeG9MIn3ywrFec8ehQ5Di9Y
      j9Dqr3DBWpZ/3VE37OeWwJ9SOHBc6Sdua8S2TmltOAZoJ7OTRY3NTTC9qMc/SI8phxNsaD5roHcb
      J0PnsV/1ZEJb1lDZ5/Y8EllkQGxdCNonJte8Pl/SoknqUdV3pkOeth7iwgv6rpv+wCS5sJD/Aabe
      /gbmX14A1QmGvGC8mIXg3b6V6xuRF60YLLD04RUNa+lesX1Nv95aEp5Zr6vBM8iD2gcZ7tV/IH/c
      52lA/hodxZL/zyL9CUAskc+3BgAA
 - path: /etc/cvmfs/default.local
   content: |
     CVMFS_CACHE_BASE=/mnt/cvmfs
     CVMFS_HTTP_PROXY="auto;DIRECT"
     CVMFS_PAC_URLS="http://grid-wpad/wpad.dat;http://wpad/wpad.dat;http://cernvm-wpad.cern.ch/wpad.dat;http://cernvm-wpad.fnal.gov/wpad.dat"
 - path: /root/run_pilot.sh
   permissions: '0755'
   content: EXECUTABLE_STR
 - path: /root/startup.sh
   permissions: '0755'
   content: |
     #!/bin/bash
     cd /mnt/dirac
     export PILOT_UUID="cloud://$(cat /var/lib/cloud/data/instance-id)"
     export DIRAC_PILOT_STAMP="STAMP_STR"
     bash /mnt/run_pilot.sh &> /mnt/dirac/startup.log

yum_repos:
  cernvm:
    name: CernVM packages
    baseurl: http://cvmrepo.web.cern.ch/cvmrepo/yum/cvmfs/EL/$releasever/$basearch/
    enabled: true
    gpgcheck: true
    gpgkey: file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CernVM

packages:
 - cvmfs
 # EPEL isn't strictly required many more
 - epel-release
 # If you need any further packages that depend on EPEL, include
 # "dnf install -y" statements in runcmd rather than listing them here

runcmd:
 # Allow nested singularity
 - [ sysctl, user.max_user_namespaces=150000 ]
 - [ sysctl, user.max_net_namespaces=0 ]
 # Enable CVMFS
 - [ mkdir, -p, /mnt/cvmfs ]
 - [ cvmfs_config, setup ]
 # Create DIRAC user
 - [ useradd, -m, -d, /mnt/dirac, dirac ]
 - [ passwd, -l, dirac ]
 - [ mkdir, -p, /mnt/dirac/etc/grid-security ]
 - [ chown, -R, "dirac:dirac", /mnt/dirac/etc ]
# Start caching certificates directory from CVMFS
# Workaround for when local Stratum-1 is slow
 - [ stat, /cvmfs/grid.cern.ch/etc/grid-security/certificates ]
 - [ ln, -s, /cvmfs/grid.cern.ch/etc/grid-security/certificates, /mnt/dirac/etc/grid-security/certificates ]
 - [ cp, /root/run_pilot.sh, /mnt/run_pilot.sh ]
 - [ cp, /root/startup.sh, /mnt/startup.sh ]
 - [ sudo, -u, dirac, /mnt/startup.sh ]
 - [ poweroff ]
