name: pilot wrapper

on: [push, pull_request]

jobs:
  PilotWrapper:
    runs-on: ubuntu-latest
    if: github.event_name != 'push' || github.repository == 'DIRACGrid/DIRAC'

    strategy:
      fail-fast: False
      matrix:
        python:
          - 2.7.5
          - 2.7.13
          - 3.6.8
          - 3.9.4
        pilot_branch:
          - master
          - devel

    steps:
    - uses: actions/checkout@v2
    - name: Fail-fast for outdated pipelines
      run: .github/workflows/fail-fast.sh
    - name: prepare environment
      run: |
        conda config --set add_pip_as_python_dependency false
        conda create -c conda-forge -c free -n python_${{ matrix.python }} python=${{ matrix.python }}
    - name: run pilot wrapper test
      run: |
        cp tests/Integration/WorkloadManagementSystem/Test_GenerateAndExecutePilotWrapper.py .
        eval "$(conda shell.bash hook)" && conda activate python_${{ matrix.python }}
        python Test_GenerateAndExecutePilotWrapper.py file://${{ github.workspace }}/src/DIRAC/WorkloadManagementSystem/Utilities/PilotWrapper.py ${{ matrix.pilot_branch }}
