Services
{
  Gateway
  {
    Port = 9159
  }
  SystemAdministrator
  {
    Port = 9162
    Authorization
    {
      Default = ServiceAdministrator
    }
  }
  ProxyManager
  {
    Port = 9152
    MaxThreads = 100
    getVOMSProxyWithTokenMaxThreads = 2
    Authorization
    {
      Default = authenticated
      getProxy = FullDelegation
      getProxy += LimitedDelegation
      getProxy += PrivateLimitedDelegation
      getVOMSProxy = FullDelegation
      getVOMSProxy += LimitedDelegation
      getVOMSProxy += PrivateLimitedDelegation
      getProxyWithToken = FullDelegation
      getProxyWithToken += LimitedDelegation
      getProxyWithToken += PrivateLimitedDelegation
      getVOMSProxyWithToken = FullDelegation
      getVOMSProxyWithToken += LimitedDelegation
      getVOMSProxyWithToken += PrivateLimitedDelegation
      getLogContents = ProxyManagement
      setPersistency = ProxyManagement
    }
  }  
  SecurityLogging
  {
    Port = 9153
    Authorization
    {
      Default = authenticated
    }
  }
  UserProfileManager
  {
    Port = 9155
    Authorization
    {
      Default = authenticated
    }
  }
  Plotting
  {
    Port = 9157
    PlotsLocation = data/plots
    Authorization
    {
      Default = authenticated
      FileTransfer
      {
        Default = authenticated
      }
    }
  }
  BundleDelivery
  {
    Port = 9158
    Authorization
    {
      Default = authenticated
      FileTransfer
      {
        Default = authenticated
      }
    }
  }
  SystemLogging
  {
    Port = 9141
    Authorization
    {
      Default = authenticated
    }  
  }
  SystemLoggingReport
  {
    Port = 9144
    Authorization
    {
      Default = authenticated
    }  
  }
  Monitoring
  {
    Port = 9142
    Authorization
    {
      Default = authenticated
      FileTransfer
      {
        Default = authenticated
      }
      queryField = ServiceAdministrator
      tryView = ServiceAdministrator
      saveView = ServiceAdministrator
      deleteView = ServiceAdministrator
      deleteActivity = ServiceAdministrator
      deleteActivities = ServiceAdministrator
      deleteViews = ServiceAdministrator
    }
  }
  Notification
  {
    Port = 9154
    SMSSwitch = sms.switch.ch
    Authorization
    {
      Default = AlarmsManagement
      sendMail = authenticated
      sendSMS = authenticated
      removeNotificationsForUser = authenticated
      markNotificationsAsRead = authenticated
      getNotifications = authenticated
      ping = authenticated
    }  
  }
  SiteMap
  {
    Port = 9156
    Authorization
    {
      Default = authenticated
    }  
  }
}
Agents
{
  MyProxyRenewalAgent
  {
    PollingTime = 1800
    MinValidity = 10000
    #The period for which the proxy will be extended. The value is in hours
    ValidityPeriod = 15
  }
  CAUpdateAgent
  {
    PollingTime = 21600
  }
  ErrorMessageMonitor
  {
    Reviewer = 
  }
  SystemLoggingDBCleaner
  {
    RemoveDate = 30
  }
  TopErrorMessagesReporter
  {
    MailList = 
    Reviewer = 
    Threshold = 10
    QueryPeriod = 7
    NumberOfErrors = 10
  }
}